* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background-color: #ddd;
}

.header-left {
  margin-left: 0.6em;
  font-size: 1.8rem;
}
.header-left a,
.header-left i,
.header-left p {
  display: inline-block;
  margin: 0.1em;
}
.header-left .fbIcon {
  font-size: 2rem;
}
.header-left .phoneIcon {
  font-size: 1.8rem;
}

.header-middle img {
  height: 8rem;
  width: 8rem;
  margin: 1em;
}

.header-right {
  margin-right: 2rem;
  z-index: 11;
}

.btn-join {
  border-radius: 6px;
  background: none;
  background-color: #3776c9;
  cursor: pointer;
  box-shadow: 5px 2px 2px #3776c9;
  padding: 5px 8px;
  font-size: 1rem;
  display: none;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: none;
}

.menu-item {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3;
  z-index: 8;
}
.menu-item a {
  text-decoration: none;
  color: #fff;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.dropdown {
  margin-top: 8px;
  position: absolute;
  width: 300px;
  text-align: center;
}

.dropdownLink:hover {
  background-color: none;
  color: #3776c9;
}

.dropdown li {
  line-height: 3em;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  transition: color 0.3s;
  opacity: 0;
  text-decoration: none;
  color: #fff;
  padding: 20px 10px;
  background-color: none;
  width: 18em;
}

.dropdown li:hover {
  color: royalblue;
}

.menu-item:hover .dropdown li {
  display: block;
  animation: menu 0.5s forwards;
}

.menu-item:hover .dropdown li:nth-child(2) {
  animation-delay: 0.2s;
}

.menu-item:hover .dropdown li:nth-child(3) {
  animation-delay: 0.4s;
}

.menu-item:hover .dropdown li:nth-child(4) {
  animation-delay: 0.6s;
}

.menu-item:hover .dropdown li:nth-child(5) {
  animation-delay: 0.8s;
}

.menu-item:hover .dropdown li:nth-child(6) {
  animation-delay: 1s;
}

.menu-item:hover .dropdown li:nth-child(7) {
  animation-delay: 1.2s;
}

@keyframes menu {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(-40px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
.hamburger-nav {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  padding-top: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #ddd;
  transform: translateX(100%);
  transition: transform 0.3s;
  z-index: 10;
}

.dropdown-container-one,
.dropdown-container-two {
  align-items: center;
  display: none;
  flex-direction: column;
  text-align: center;
}

.hamburger-nav a {
  display: block;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 100px;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  transition: transform 1s;
}

.hamburger-nav a:hover {
  color: blue;
  background-color: grey;
}

i {
  padding-left: 10px;
}

.visible {
  display: flex;
}

.nav-mobile--active {
  transform: translateX(0%);
}

.mainPct {
  filter: blur(3px);
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.headers {
  position: relative;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hbg {
  z-index: 100;
  position: absolute;
  top: 20px;
  right: 25px;
}

.header-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-box .butt {
  margin-top: 50px;
  padding: 15px 25px;
  font-size: 2rem;
  font-family: "Agency FB", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: none;
  border: 1px solid white;
  border-radius: 6px;
  color: #fff;
  transition: color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}
.header-box .butt:hover {
  color: black;
  background-color: #fff;
}
.header-box img {
  width: 200px;
  height: 200px;
}
.header-box h1 {
  font-family: "Agency FB", sans-serif;
  letter-spacing: 5px;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px white, 2px 2px 1px black;
}
.header-box h1 span {
  padding: 5px 10px;
  letter-spacing: 8px;
  border-radius: 6px;
}

.section-heading {
  position: relative;
  margin-bottom: 1.7em;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.section-padding {
  padding: 4em 2em;
}

.carousel-wrapper {
  position: relative;
  /* Let's set our jump link targets display: none; so that we're not
  making the browser jump to the top of the carousel whenever a user
  clicks on one of our arrow links. This attribute selector will target
  any element whose id starts with 'target-item'. */
  /* So, up above we made all our carousel items transparent, which means
  that on page-load, we'd have a big empty box where our carousel should be.
  Let's set our first item's opacity to 1 so that it displays instead. Also,
  we're setting its z-index to 2, so that it's positioned on top of the
  other carousel items. */
  /* But we don't want the first item to ALAWYS be opacity: 1; otherwise
  it would peek through when cycling between items two and above. */
  /* ...but if #target-item-1 is targeted, well we do want the first item
  to show up, so we're selecting it with the ~ sibling selector and
  setting its opacity to 1 again :-) */
  /* If any other target-item-# is targeted, let's select it using the sibling
  selector, make it fade in, and place it on top of the pile using z-index: 3.
  Here's where you'd add more target items if your carousel has more than three
  items. It might be worth adding like 10 items right off the bat. */
}
.carousel-wrapper .carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  border: 1px solid #aaa;
  /* Did you notice the 50px left, right padding up above? It's so
  we can position our arrow links! Each one will be 50px wide. Also,
  I'm using empty links with a background image so that the links
  look like arrows. Make sure you swap out that URL with an actual
  URL so that your arrow links aren't just transparent rectangles. */
  /* I really like how these carousel items look on a dark image
  background, so if a .carousel-item div has the class 'light',
  we'll make its text color white, and use a white arrow instad of
  a dark gray one. Again, make sure this arrow image exists somewhere */
  /* Let's use using some media queries to resize the arrows
  on smaller devices.*/
}
.carousel-wrapper .carousel-item .arrow {
  position: absolute;
  top: 0;
  display: block;
  width: 50px;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: url("http://haloxp.com/codepen/carousel-arrow-dark.png") 50% 50%/20px no-repeat;
  /* Let's put our arrow to go back on the left. */
  /* And our arrow to go forward on the right. Since I'm using
  the same arrow image for both my arrows, I'm rotating this one by
  180 degrees so that it points in the right direction */
}
.carousel-wrapper .carousel-item .arrow.arrow-prev {
  left: 0;
}
.carousel-wrapper .carousel-item .arrow.arrow-next {
  right: 0;
  transform: rotate(180deg);
}
.carousel-wrapper .carousel-item.light {
  color: white;
}
.carousel-wrapper .carousel-item.light .arrow {
  background: url("http://haloxp.com/codepen/carousel-arrow-light.png") 50% 50%/20px no-repeat;
}
@media (max-width: 480px) {
  .carousel-wrapper .carousel-item .arrow, .carousel-wrapper .carousel-item.light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}
.carousel-wrapper [id^=target-item] {
  display: none;
}
.carousel-wrapper .item-1 {
  z-index: 2;
  opacity: 1;
}
.carousel-wrapper *:target ~ .item-1 {
  opacity: 0;
}
.carousel-wrapper #target-item-1:target ~ .item-1 {
  opacity: 1;
}
.carousel-wrapper #target-item-2:target ~ .item-2, .carousel-wrapper #target-item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

.about-us__box {
  display: flex;
  flex-direction: column;
  margin: 2em 2em;
}
.about-us__img {
  width: 100%;
  margin-bottom: 1em;
}
.about-us__text {
  font-size: 1.4em;
}

.train-us__boxes {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px auto;
}

.train-us__box {
  display: flex;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 15rem;
}

.train-us__box-img {
  height: 100%;
  width: 50%;
}

.train-us__img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.train-us__box-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.train-us__title {
  text-align: center;
  font-size: 1.5rem;
  margin: 1em 1em 0 1em;
}

.train-us__text {
  margin: 1em 2em 2em 2em;
}

@media (min-width: 576px) {
  .header-box {
    bottom: 10px;
  }
  .header-box img {
    max-width: 250px;
    max-height: 250px;
  }
  .header-box h1 {
    font-family: "Agency FB", sans-serif;
    letter-spacing: 5px;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 6rem;
    color: white;
    font-weight: bold;
  }
  .header-box h1 span {
    letter-spacing: 10px;
  }
  .nav {
    display: flex;
  }
  .menu {
    display: flex;
  }
  .header {
    height: 13rem;
  }
  .hbg {
    display: none;
  }
  .hamburger-nav {
    display: none;
  }
  .header-left {
    margin-left: 0.5em;
    font-size: 2.5rem;
  }
  .header-left a,
  .header-left i,
  .header-left p {
    display: inline-block;
    margin: 0.06em;
  }
  .header-left .fbIcon {
    font-size: 3rem;
  }
  .header-left .phoneIcon {
    font-size: 2.8rem;
  }
  .header-middle img {
    height: 12rem;
    width: 12rem;
    margin: 1em;
  }
  .header-right {
    margin-right: 4rem;
  }
  .btn-join {
    padding: 12px 13px;
    font-size: 1.5rem;
    display: flex;
  }
  .section-heading {
    font-size: 3rem;
  }
  .section-padding {
    padding: 6em 2em;
  }
  .about-us__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .about-us__box-text {
    width: 45%;
  }
  .about-us__box-img {
    width: 50%;
  }
  .about-us__img {
    margin-bottom: 0;
    min-height: 200px;
  }
  .menu-item {
    padding: 10px 20px;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
  .train-us__boxes {
    width: 90%;
    margin: 0px auto;
  }
  .train-us__box {
    height: 20rem;
  }
  .train-us__title {
    font-size: 2rem;
    margin: 1em 1em 0 1em;
  }
  .train-us__text {
    font-size: 1.3rem;
    margin: 1em 2em 2em 2em;
  }
}
@media (min-width: 768px) {
  .header {
    height: 16rem;
  }
  .header-left {
    margin-left: 1em;
    font-size: 3rem;
  }
  .header-left a,
  .header-left i,
  .header-left p {
    display: inline-block;
    margin: 0.1em;
  }
  .header-left .fbIcon {
    font-size: 3.5rem;
  }
  .header-left .phoneIcon {
    font-size: 3rem;
  }
  .btn-join {
    padding: 10px 20px;
    font-size: 2.2rem;
    display: flex;
  }
  .header-middle img {
    height: 14rem;
    width: 14rem;
    margin: 1em;
  }
  .header-right {
    margin-right: 7rem;
  }
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
  .about-us__text {
    font-size: 1.8em;
    text-align: justify;
  }
  .menu-item {
    font-size: 1.9rem;
  }
  .train-us__title {
    font-size: 3rem;
    margin: 1em 1em 0 1em;
  }
  .train-us__text {
    font-size: 1.8rem;
    margin: 1em 2em 2em 2em;
  }
  .train-us__box {
    height: 28em;
  }
}
@media (min-width: 992px) {
  .butt {
    margin-top: 50px;
    padding: 15px 25px;
    font-size: 10rem;
    letter-spacing: 2px;
  }
  .header {
    height: 18rem;
  }
  .header-left {
    margin-left: 1em;
    font-size: 3.5rem;
  }
  .header-left a,
  .header-left i,
  .header-left p {
    display: inline-block;
    margin: 0.1em;
  }
  .header-left .fbIcon {
    font-size: 4rem;
  }
  .header-left .phoneIcon {
    font-size: 3.5rem;
  }
  .btn-join {
    padding: 20px 30px;
    font-size: 2.5rem;
    display: flex;
  }
  .header-middle img {
    height: 16rem;
    width: 16rem;
    margin: 1em;
  }
  .header-right {
    margin-right: 7rem;
  }
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
  .about-us__text {
    font-size: 2em;
  }
  .menu-item {
    font-size: 2.2rem;
  }
  .about-us__text {
    font-size: 2.3rem;
  }
  .train-us__title {
    font-size: 3rem;
    margin: 1em 1em 0 1em;
  }
  .train-us__text {
    font-size: 2rem;
    margin: 1.5em 2em 2em 2em;
  }
  .train-us__box {
    height: 35em;
  }
  .hamburger {
    display: none;
  }
}
@media (min-width: 1200px) {
  .btn-join {
    display: flex;
  }
  .about-us__text {
    font-size: 2.5rem;
  }
  .train-us__title {
    font-size: 3.7rem;
    margin: 1em 1em 0 1em;
  }
  .train-us__text {
    font-size: 2.3rem;
    margin: 1em 2em 2em 2em;
  }
  .train-us__box {
    height: 40em;
  }
}
@media (min-width: 1400px) {
  .btn-join {
    display: flex;
  }
  .about-us__text {
    font-size: 3rem;
  }
  .train-us__title {
    font-size: 4rem;
    margin: 1em 1em 0 1em;
  }
  .train-us__text {
    font-size: 3rem;
    margin: 1em 2em 2em 2em;
  }
  .train-us__box {
    height: 50em;
  }
  .header-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */