* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

p,
a,
button,
li {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.desktop-nav {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  height: 70px;
  line-height: 70px;
  padding: 0 100px;
  z-index: 5;
  display: none;
}

.brand {
  display: inline-block;
}
.brand a {
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
.brand .navLogo {
  float: left;
  margin-top: 10px;
  width: 70px;
  height: 50px;
  padding-right: 20px;
}

.menu {
  float: right;
}

.desktop-nav ul li {
  float: left;
  list-style: none;
  position: relative;
  cursor: pointer;
}

.desktop-nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 0 15px;
  display: block;
}

.desktop-nav ul li a:hover {
  background-color: #a7a1a1;
}

.desktop-nav ul li ul {
  position: absolute;
  top: 70px;
}

.desktop-nav ul li ul li {
  line-height: 1;
  width: 190px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 6px;
  z-index: 1;
  display: none;
  opacity: 0;
}

.desktop-nav ul li ul li a {
  padding: 13px 7px;
}

.desktop-nav ul li ul li a:hover {
  background-color: #868383;
}

.menu-item:hover .dropdown li {
  display: block;
  animation: menu 0.5s forwards;
}

.menu-item:hover .dropdown li:nth-child(2) {
  animation-delay: 0.2s;
}

.menu-item:hover .dropdown li:nth-child(3) {
  animation-delay: 0.4s;
}

.menu-item:hover .dropdown li:nth-child(4) {
  animation-delay: 0.6s;
}

.menu-item:hover .dropdown li:nth-child(5) {
  animation-delay: 0.8s;
}

.menu-item:hover .dropdown li:nth-child(6) {
  animation-delay: 1s;
}

.menu-item:hover .dropdown li:nth-child(7) {
  animation-delay: 1.2s;
}

@keyframes menu {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(-40px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
.hamburger-nav {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 50px;
  display: none;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #ddd;
  transform: translateX(100%);
  transition: transform 0.3s;
}

.dropdown-container-one,
.dropdown-container-two {
  align-items: center;
  display: none;
  flex-direction: column;
  text-align: center;
}

.hamburger-nav a {
  display: block;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 100px;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  transition: transform 0.8s;
}

.hamburger-nav a:hover {
  color: blue;
  background-color: grey;
}

i {
  padding-left: 10px;
}

.visible {
  display: flex;
}

.nav-mobile--active {
  transform: translateX(0%);
}

.active {
  display: flex;
}

.mainPct {
  filter: blur(3px);
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.headers {
  position: relative;
  z-index: 0;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hbg {
  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 30;
}

.header-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-box .butt {
  margin-top: 50px;
  padding: 15px 25px;
  font-size: 2rem;
  font-family: "Agency FB", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: none;
  border: 1px solid white;
  border-radius: 6px;
  color: #fff;
  transition: color 0.5s;
  transition: background-color 0.5s;
  cursor: pointer;
}
.header-box .butt:hover {
  color: black;
  background-color: #fff;
}
.header-box img {
  width: 150px;
  height: 150px;
}
.header-box h1 {
  letter-spacing: 3px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}
.header-box h1 span {
  padding: 5px 10px;
  letter-spacing: 4px;
  border-radius: 6px;
}

.grey {
  background-color: #fdfdfd;
}

.grey-one {
  background-color: #d8d7d7;
}

.white {
  background-color: #fff;
}

.section-heading {
  position: relative;
  margin-bottom: 1.7em;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.section-padding {
  padding: 4em 2em;
}

.about-us__box {
  display: flex;
  flex-direction: column;
  margin: 2em 1.5em;
}
.about-us__img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.about-us__text {
  margin-top: 2em;
  font-size: 1.5rem;
}

.train-us__boxes {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px auto;
}

.train-us__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 90%;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.train-us__box-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.train-us__img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.train-us__box-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  line-height: 16px;
  background-color: #eee;
}

.train-us__title {
  text-align: center;
  font-size: 1.5rem;
  margin: 1em 1em 0 1em;
}

.train-us__text {
  margin: 1em 2em 2em 2em;
  font-size: 1.1rem;
}

.circles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.circle-box {
  margin: 20px;
  height: 180px;
  width: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.circle-img {
  border: 1px solid rgba(0, 0, 0, 0.4);
  height: 140px;
  width: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-img img {
  width: 60%;
  transition: scale 1s;
}

.circle-img:hover img {
  scale: 1.1;
}

.circle-text {
  margin-top: 15px;
  height: 25%;
  width: 180px;
  text-align: center;
  font-size: 1.6rem;
}

.schedule-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.schedule-box .schedule {
  width: 90%;
}

.cards-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1450px;
}
.cards-news .card-news {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 60%;
  width: 80%;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}
.cards-news .card-news .card-img {
  width: 100%;
  height: 50%;
}
.cards-news .card-news .card-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.cards-news .card-news .card-text {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.cards-news .card-news .card-text p {
  padding: 10px;
  font-size: 1.3rem;
}
.cards-news .card-news .card-text h4 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 2.2rem;
}
.cards-news .card-news .card-text a {
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 10px;
  text-decoration: none;
  color: #3166ff;
  transition: color 0.2s;
}
.cards-news .card-news .card-text a:hover {
  color: #08298e;
}

.logo-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ebeaea;
}
.logo-box img {
  height: 70px;
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: filter 0.5s;
}

.footer-menu {
  display: flex;
  font-size: 5px;
}
.footer-menu .footer-contact {
  order: 2;
  width: 60%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-menu .footer-contact h4 {
  font-size: 1.5rem;
  text-align: center;
}
.footer-menu .footer-contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
.footer-menu .footer-contact-info i {
  margin-right: 10px;
  font-size: 1.5rem;
}
.footer-menu .footer-contact-info p {
  font-size: 0.8rem;
}
.footer-menu .footer-contact-info a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: color 0.5s;
}
.footer-menu .footer-contact-info a:hover {
  color: #3166ff;
}
.footer-menu .footer-link-box {
  order: 3;
  width: 30%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.footer-menu .footer-link-box h4 {
  margin-top: 5px;
  font-size: 1.5rem;
  text-align: center;
}
.footer-menu .footer-link-box a {
  padding: 0 15px;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: color 0.5s;
}
.footer-menu .footer-link-box a:hover {
  color: #3166ff;
}

.footer-img {
  display: flex;
  width: 40%;
  height: 100%;
}
.footer-img img {
  width: 90%;
  height: 100%;
  padding: 20px;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40px;
  background-color: #ebeaea;
  font-size: 1.2rem;
}

@media (max-height: 621px) and (max-width: 768px) {
  .header-box {
    bottom: 10px;
  }
  .header-box .butt {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 2rem;
  }
  .header-box img {
    width: 130px;
    height: 130px;
  }
  .header-box h1 {
    margin-top: 30px;
    font-size: 2.5rem;
  }
  .header-box h1 span {
    letter-spacing: 5px;
  }
}
@media (max-height: 500px) and (min-width: 768px) {
  .header-box {
    bottom: 10px;
  }
  .header-box .butt {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 2rem;
    font-family: "Agency FB", sans-serif;
    letter-spacing: 2px;
  }
  .header-box img {
    margin-top: 40px;
    width: 100px;
    height: 100px;
  }
  .header-box h1 {
    letter-spacing: 4px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
  }
  .header-box h1 span {
    letter-spacing: 5px;
  }
}
@media (min-width: 576px) and (min-height: 500px) {
  .header-box h1 {
    font-size: 4rem;
  }
  .header-box img {
    width: 190px;
    height: 190px;
  }
}
@media (min-width: 576px) {
  .header-box {
    bottom: 10px;
  }
  .nav {
    display: flex;
  }
  .menu {
    display: flex;
  }
  .section-heading {
    font-size: 3rem;
  }
  .section-padding {
    padding: 6em 2em;
  }
  .about-us__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .about-us__box-text {
    margin-top: -1.5em;
    width: 45%;
    height: 100%;
    padding: 0em 1em;
    font-size: 2rem;
  }
  .about-us__box-img {
    width: 60%;
    min-height: 200px;
  }
  .menu-item {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
  .train-us__boxes {
    width: 90%;
    margin: 0px auto;
  }
  .train-us__box {
    height: 60rem;
  }
  .train-us__box-img {
    height: 55%;
    width: 100%;
  }
  .train-us__title {
    font-size: 2.5rem;
    margin: 1em 1em 0 1em;
  }
  .train-us__text {
    font-size: 1.7rem;
    margin: 1em 2em 2em 2em;
    line-height: 22px;
  }
  .circle-box {
    margin: 20px;
    height: 190px;
    width: 160px;
  }
  .circle-img {
    border: 1px solid rgba(0, 0, 0, 0.4);
    height: 150px;
    width: 150px;
  }
  .circle-text {
    margin-top: 15px;
    font-size: 2rem;
  }
  .cards-news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
  }
  .cards-news .card-news {
    height: 580px;
    width: 400px;
    margin: 20px;
    margin-bottom: 30px;
  }
  .cards-news .card-news .card-text {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
  .cards-news .card-news .card-text p {
    padding: 15px;
    font-size: 1.8rem;
  }
  .cards-news .card-news .card-text h4 {
    text-align: center;
    font-size: 2.5rem;
  }
  .cards-news .card-news .card-text a {
    padding: 15px;
    padding-bottom: 20px;
    font-size: 1.6rem;
    text-decoration: none;
    color: #3166ff;
    transition: color 0.2s;
  }
  .logo-box {
    height: 150px;
  }
  .logo-box img {
    height: 100px;
    width: 110px;
  }
  .footer-menu .footer-contact-info i {
    margin-right: 12px;
    font-size: 2rem;
  }
  .footer-menu .footer-contact-info p {
    font-size: 1rem;
  }
  .footer-menu .footer-link-box h4 {
    font-size: 1.5rem;
    text-align: center;
  }
  .footer-menu .footer-link-box a {
    font-size: 1rem;
    text-align: center;
  }
  .footer-info {
    font-size: 1.5rem;
  }
  .footer-img img {
    width: 85%;
    height: 100%;
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .desktop-nav {
    display: block;
    padding: 0 29px;
  }
  .brand a {
    font-size: 1.3rem;
  }
  .desktop-nav ul li a {
    font-size: 1.3rem;
  }
  .hbg {
    display: none;
  }
  .hamburger-nav {
    display: none;
  }
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
  .about-us__text {
    padding-left: 1em;
    font-size: 0.9em;
  }
  .menu-item {
    font-size: 1.9rem;
  }
  .train-us__boxes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .train-us__box {
    flex-direction: row;
    height: 36em;
  }
  .train-us__box-img {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
  }
  .right {
    order: 1;
  }
  .train-us__box-text {
    width: 80%;
  }
  .train-us__title {
    font-size: 2rem;
    margin: 1em 1em 0 1em;
  }
  .train-us__text {
    font-size: 1.4rem;
    margin: 1em 2em 2em 2em;
  }
  .circle-box {
    margin: 20px;
    height: 220px;
    width: 180px;
  }
  .circle-img {
    height: 200px;
    width: 180px;
  }
  .circle-text {
    margin-top: 15px;
    font-size: 2.2rem;
  }
  .cards-news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
  }
  .logo-box {
    height: 170px;
  }
  .logo-box img {
    height: 130px;
    width: 140px;
  }
  .footer-menu .footer-contact {
    height: 220px;
  }
  .footer-menu .footer-contact h4 {
    font-size: 2.2rem;
  }
  .footer-menu .footer-contact-info i {
    font-size: 2.5rem;
  }
  .footer-menu .footer-contact-info p {
    font-size: 1.5rem;
  }
  .footer-menu .footer-link-box {
    height: 230px;
  }
  .footer-menu .footer-link-box h4 {
    font-size: 2.2rem;
  }
  .footer-menu .footer-link-box a {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  .footer-info {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .desktop-nav {
    padding: 0 90px;
  }
  .brand a {
    font-size: 1.5rem;
  }
  .desktop-nav ul li a {
    font-size: 1.7rem;
  }
  .header-box h1 {
    font-size: 5rem;
  }
  .butt {
    margin-top: 50px;
    padding: 15px 25px;
    font-size: 10rem;
    letter-spacing: 2px;
  }
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
  .about-us__text {
    font-size: 2em;
  }
  .menu-item {
    font-size: 2.2rem;
  }
  .about-us__text {
    font-size: 2.3rem;
  }
  .train-us__title {
    font-size: 2.8em;
    margin: 1em 1em 0 1em;
    line-height: 30px;
  }
  .train-us__text {
    font-size: 1.6rem;
    margin: 1.5em 2em 2em 2em;
  }
  .train-us__box {
    height: 38em;
  }
  .hamburger {
    display: none;
  }
  .circle-box {
    margin: 20px;
    height: 250px;
    width: 180px;
  }
  .circle-img {
    height: 200px;
    width: 180px;
  }
  .circle-text {
    margin-top: 15px;
    font-size: 2.3rem;
  }
  .cards-news .card-news {
    height: 580px;
    width: 370px;
    margin: 20px;
  }
  .cards-news .card-news .card-text {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
  .cards-news .card-news .card-text p {
    padding: 15px;
    font-size: 1.8rem;
  }
  .cards-news .card-news .card-text h4 {
    text-align: center;
    font-size: 2.5rem;
  }
  .cards-news .card-news .card-text a {
    padding: 15px;
    padding-bottom: 20px;
    font-size: 1.6rem;
    text-decoration: none;
    color: #3166ff;
    transition: color 0.2s;
  }
  .cards-news .footer-img img {
    width: 85%;
    height: 100%;
    padding: 20px;
  }
  .logo-box {
    height: 180px;
  }
  .logo-box img {
    height: 150px;
    width: 160px;
  }
  .footer-menu .footer-contact {
    height: 270px;
  }
  .footer-menu .footer-contact h4 {
    font-size: 2.5rem;
  }
  .footer-menu .footer-contact-info i {
    font-size: 3rem;
  }
  .footer-menu .footer-contact-info p {
    font-size: 2rem;
  }
  .footer-menu .footer-link-box {
    height: 290px;
  }
  .footer-menu .footer-link-box h4 {
    font-size: 2.5rem;
  }
  .footer-menu .footer-link-box a {
    font-size: 2rem;
  }
  .footer-info {
    font-size: 1.8rem;
  }
  .footer-img img {
    width: 80%;
    height: 100%;
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  .desktop-nav {
    display: block;
    padding: 0 120px;
  }
  .brand a {
    font-size: 2rem;
  }
  .desktop-nav ul li a {
    font-size: 2rem;
  }
  .btn-join {
    display: flex;
  }
  .about-us__img {
    width: 100%;
    height: 43em;
    margin-bottom: 1em;
  }
  .about-us__text {
    font-size: 2.5rem;
  }
  .train-us__title {
    font-size: 3.5rem;
    margin: 1em 1em 0 1em;
  }
  .train-us__text {
    font-size: 2.1rem;
    margin: 1em 2em 2em 2em;
    line-height: 30px;
  }
  .train-us__box {
    height: 49em;
  }
  .circle-box {
    margin: 25px;
    height: 300px;
    width: 200px;
  }
  .circle-img {
    height: 220px;
    width: 220px;
  }
  .circle-text {
    margin-top: 25px;
    font-size: 2.4rem;
  }
  .cards-news .card-news {
    height: 700px;
    width: 350px;
    margin: 20px;
    margin-bottom: 30px;
  }
  .cards-news .card-news .card-text {
    width: 100%;
    height: 80%;
    margin-top: 20px;
  }
  .cards-news .card-news .card-text p {
    padding: 15px;
    font-size: 2rem;
  }
  .cards-news .card-news .card-text h4 {
    text-align: center;
    font-size: 3rem;
  }
  .cards-news .card-news .card-text a {
    padding: 15px;
    padding-bottom: 20px;
    font-size: 2rem;
    text-decoration: none;
    color: #3166ff;
    transition: color 0.2s;
  }
  .logo-box {
    height: 200px;
  }
  .logo-box img {
    height: 170px;
    width: 180px;
  }
  .footer-menu .footer-contact {
    height: 350px;
  }
  .footer-menu .footer-contact h4 {
    font-size: 3rem;
  }
  .footer-menu .footer-contact-info i {
    margin-right: 20px;
    font-size: 4rem;
  }
  .footer-menu .footer-contact-info p {
    font-size: 2.3rem;
  }
  .footer-menu .footer-link-box {
    height: 350px;
  }
  .footer-menu .footer-link-box h4 {
    font-size: 3rem;
  }
  .footer-menu .footer-link-box a {
    font-size: 2.3rem;
  }
  .footer-info {
    height: 60px;
    font-size: 2.2rem;
  }
}
@media (min-width: 1400px) {
  .header-box img {
    width: 280px;
    height: 280px;
  }
  .header-box h1 {
    font-size: 5rem;
    margin-top: 60px;
  }
  .btn-join {
    display: flex;
  }
  .about-us__text {
    font-size: 2.7rem;
  }
  .train-us__box {
    height: 47em;
  }
  .cards-news {
    height: 100%;
  }
  .cards-news .card-news {
    height: 700px;
    width: 360px;
    margin: 20px;
    margin-bottom: 30px;
  }
  .cards-news .card-news .card-text {
    width: 100%;
    height: 80%;
    margin-top: 20px;
  }
  .cards-news .card-news .card-text p {
    padding: 15px;
    font-size: 2rem;
  }
  .cards-news .card-news .card-text h4 {
    text-align: center;
    font-size: 2.5rem;
  }
  .cards-news .card-news .card-text a {
    padding: 15px;
    padding-bottom: 20px;
    font-size: 2rem;
    text-decoration: none;
    color: #3166ff;
    transition: color 0.2s;
  }
  .logo-box {
    height: 220px;
  }
  .logo-box img {
    height: 180px;
    width: 190px;
  }
  .footer-menu .footer-contact h4 {
    font-size: 3.5rem;
  }
  .footer-menu .footer-contact-info {
    padding-left: 120px;
  }
  .footer-menu .footer-contact-info i {
    margin-right: 20px;
    font-size: 4.2rem;
  }
  .footer-menu .footer-contact-info p {
    font-size: 2rem;
  }
  .footer-menu .footer-link-box h4 {
    font-size: 3.5rem;
  }
  .footer-menu .footer-link-box a {
    font-size: 2rem;
  }
  .footer-img img {
    width: 58%;
    height: 100%;
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */