// body {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	height: 100vh;
// 	font-family: "Comic Neue", cursive;
// // }
// nav{
// 	position: relative;
// }
.navbox {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	background-color: black;
	height: 70px;
	width: 100%;
	margin-bottom: 30px;

	.navBarLogo {
		height: 50px;
		margin: 10px;
		// width: 40px;
	}
	.navBarTitle {
		display: inline-block;
		color: #fff;
		font-size: 2rem;
		margin-left: 10px;
	}
}
.tittleMargin {
	margin-top: 40px;
}
/////////////////////////////
/// grupy treningowe
/// /////////////////////////////
.group-boxes {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 90%;
	// height: 1000px;
	// border: 2px solid red;
}
.shadow-group {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
.group-box {
	position: relative;
	width: 100%;
	height: 180px;
	border: 1px solid black;
	img {
		padding-bottom: 2px;
		width: 100%;
		height: 180px;
		background-position: center;
		background-size: cover;
	}
	.title-group {
		position: absolute;
		bottom: 10px;
		right: 20px;
		h3 {
			font-size: 1.5rem;
			color: white;
		}
	}
}

//////////////////
/// INSTRUKTORZY KARTY
/// //////////////
.intructor-cards {
	display: flex;
	flex-direction: column;
	// width: 100%;

	.patryk {
		background-image: url("../img/Patryk.jpg");
	}
	.iga {
		background-image: url("../img/iga.jpg");
	}
	.magda {
		background-image: url("../img/magda.jpg");
		
	}
	.remigiusz{
		background-image: url("../img/remigiusz.jpg");
	}
	.krzysiek{
		background-image: url("../img/krzysiek.jpg");
	}
	.marcin{
		background-image: url("../img/marcin.jpg");
	}
	.card {
		position: relative;
		margin: 10px;
		height: 500px;
		width: 90%;
		text-align: center;
		background-position: center;
		background-size: cover;
		border-radius: 15px;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
		overflow: hidden;
		button {
			position: absolute;
			top: 10px;
			right: 10px;
			padding: 10px;
			background: none;
			border: none;
			color: #fff;
			font-size: 36px;
			text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
			cursor: crosshair;
			z-index: 10;
		}
		.instructor-text {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			padding: 40px 20px;
			background-color: rgba(0, 0, 0, 0.85);
			color: #fff;
			clip-path: circle(0% at 50% 90%);
			transition: clip-path 0.8s;
		}
		h3 {
			margin-bottom: 5px;
			color: rgb(182, 179, 97);
			font-size: 3rem;
		}
		h4 {
			margin-bottom: 40px;
			font-size: 2rem;
			color: rgb(141, 138, 138);
		}
		p {
			font-size: 1.7rem;
		}

		button:hover ~ .instructor-text {
			clip-path: circle(120% at 50% 90%);
		}
	}
}

@media (min-width: 576px) {
	.group-box {
		height: 240px;
		img {

			height: 240px;
		}
		.title-group {
			position: absolute;
			bottom: 10px;
			right: 20px;
			h3 {
				font-size: 3rem;
			}
		}
	}
	.intructor-cards {
		display: flex;
		flex-direction: column;
		align-items: center;

		.card {
			margin: 20px;
			height: 500px;
			width: 70%;
			button {
				position: absolute;
				top: 10px;
				right: 10px;
				padding: 10px;
				background: none;
				border: none;
				color: #fff;
				font-size: 36px;
				text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
				cursor: crosshair;
				z-index: 10;
			}
			.instructor-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				padding: 50px 30px;

				h3 {
					margin-bottom: 5px;
					color: rgb(182, 179, 97);
					font-size: 3.3rem;
				}
				h4 {
					margin-bottom: 30px;
					font-size: 2.5rem;
					color: rgb(141, 138, 138);
				}
				p {
					font-size: 2rem;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.group-box {
		height: 350px;
		img {

			height: 350px;
		}
		.title-group {
			position: absolute;
			bottom: 30px;
			right: 30px;
			h3 {
				font-size: 3.5rem;
			}
		}
	}
	
	.navbox {
		display: none;
	}

	.intructor-cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		// flex-direction: column;
		// align-items: center;

		.card {
			margin: 20px;
			height: 550px;
			width: 44%;
			button {
				position: absolute;
				top: 10px;
				right: 10px;
				padding: 10px;
				background: none;
				border: none;
				color: #fff;
				font-size: 36px;
				text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
				cursor: crosshair;
				z-index: 10;
			}
			.instructor-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				padding: 40px 30px;

				h3 {
					margin-bottom: 5px;
					color: rgb(182, 179, 97);
					font-size: 3.2rem;
				}
				h4 {
					margin-bottom: 30px;
					font-size: 2.3rem;
					color: rgb(141, 138, 138);
				}
				p {
					font-size: 2rem;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.group-box {
		height: 450px;
		img {

			height: 450px;
		}
		.title-group {
			bottom: 30px;
			right: 40px;
			h3 {
				font-size: 4.8rem;
			}
		}
	}
	
	.intructor-cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		// flex-direction: column;
		// align-items: center;

		.card {
			margin: 20px;
			height: 550px;
			width: 45%;
			button {
				position: absolute;
				top: 10px;
				right: 10px;
				padding: 10px;
				background: none;
				border: none;
				color: #fff;
				font-size: 36px;
				text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
				cursor: crosshair;
				z-index: 10;
			}
			.instructor-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				padding: 50px 30px;

				h3 {
					margin-bottom: 5px;
					color: rgb(182, 179, 97);
					font-size: 3.8rem;
				}
				h4 {
					margin-bottom: 30px;
					font-size: 3rem;
					color: rgb(141, 138, 138);
				}
				p {
					font-size: 2.2rem;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.group-box {
		height: 550px;
		img {

			height: 550px;
		}
		.title-group {
			bottom: 40px;
			right: 40px;
			h3 {
				font-size: 5.2rem;
			}
		}
	}

	.intructor-cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		// flex-direction: column;
		// align-items: center;

		.card {
			margin: 20px;
			height: 620px;
			width: 29%;
		}
	}
}
@media (min-width: 1400px) {
	.intructor-cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		// flex-direction: column;
		// align-items: center;

		.card {
			margin: 20px;
			height: 620px;
			width: 30%;
		}
	}
}
